.shop {
  display: grid;
  grid-template-columns: 4fr 1fr;
  position: relative;
}
.shop h2 {
  text-align: center;
  margin-top: 30px;
}
.product-side {
  margin: 30px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}
.order-summary {
  background-color: var(--color-warning);
}
.order-items {
  position: sticky;
  height: 88vh;
  width: 100%;
  top: 80px;
  padding: 20px;
}
.order-items h5 {
  font-size: 25px;
}
.btn {
  background-color: var(--color-secondry);
  color: var(--color-white);
  padding: 10px;
  transition: all 500ms ease;
  border-radius: 10px;
}
.btn:hover {
  background-color: var(--color-primary);
}
.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
}
.pagination button {
  height: 20px;
  width: 20px;
  color: var(--color-secondry);
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  transition: all 0.5s ease;
}
.pagination .selected {
  color: var(--color-white);
  background-color: var(--color-secondry);
}
.pageSelected {
  border: 1px solid var(--color-primary);
}
@media (min-width: 1440px) {
  .product-side {
    margin: 180px 82px;
  }
}
@media (max-width: 1300px) {
  .product-side {
    grid-template-columns: repeat(2, 1fr);
    margin: 180px 102px;
  }
}
@media (max-width: 677px) {
  .shop {
    grid-template-columns: 1fr;
  }
  .product {
    width: 100%;
  }
  .product img {
    width: 100%;
  }
  .shop-right {
    display: none;
  }
  .product-side {
    grid-template-columns: 1fr;
    margin: 20px;
  }
}
