.shop {
  display: grid;
  grid-template-columns: 4fr 1fr;
  position: relative;
}
.product-side {
  margin: 120px 30px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}
.order-summary {
  background-color: var(--color-warning);
}
.order-items {
  position: sticky;
  height: 88vh;
  width: 100%;
  top: 80px;
  padding: 20px;
}
.order-items h5 {
  font-size: 25px;
}
@media (min-width: 1440px) {
  .product-side {
    margin: 180px 82px;
  }
}
@media (max-width: 1300px) {
  .product-side {
    grid-template-columns: repeat(2, 1fr);
    margin: 180px 102px;
  }
}
