.header-nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary);
  height: 80px;
  align-items: center;
  padding: 0 140px;
}
.nav-items {
  display: flex;
  gap: 32px;
}
