.form-container {
  width: 600px;
  border: 1px solid var(--color-primary);
  margin: 50px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -10px 10px 0px var(--color-secondry);
  padding-bottom: 20px;
}
.form-title {
  font-size: 35px;
  text-align: center;
  margin: 20px;
}
.form-group label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}
.form-group input {
  width: 400px;
  height: 55px;
  border: 1px solid var(--color-primary);
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 20px;
  color: var(--color-secondry);
}
.form-group input:focus-within {
  border: 1px solid var(--color-secondry);
}
.form-container .btn {
  width: 400px;
  height: 55px;
  background-color: var(--color-warning);
  color: var(--color-primary);
  font-size: 20px;
  transition: var(--transition);
  cursor: pointer;
}
.form-container .btn:hover {
  background-color: var(--color-secondry);
  color: var(--color-white);
}
.form-link {
  left: 0;
  margin: 20px 0;
}
.form-link a {
  color: var(--color-secondry);
  margin-left: 10px;
  font-size: 20px;
}
.form-link a:hover {
  color: var(--color-primary);
}
.other-sinin {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2px;
  text-align: center;
  margin: 20px 0;
  color: var(--color-primary);
}
.other-sinin span {
  width: 100%;
  height: 2px;
  background-color: var(--color-secondry);
}
.google-button {
  background-color: transparent;
  border: 1px solid var(--color-secondry);
  width: 400px;
  height: 55px;
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
  cursor: pointer;
}
.google-button:hover {
  background: var(--color-secondry);
  color: var(--color-white);
}
.google-button img {
  width: 30px;
  margin-right: 10px;
}
@media (max-width: 677px) {
  .form-container {
    width: 95%;
  }
  .google-button,
  .form-group input,
  .form-container .btn {
    width: 100%;
  }
}
